Здравейте{{if .UserName}}, {{.UserName}}{{end}},

Добре дошли в Pitlane! Вашият сервиз „{{.GarageName}}“ е готов.

Можете да влезете и да започнете работа от:
{{.LoginURL}}

Поздрави,
Екипът на Pitlane
